@import "highlight.js/styles/base16/gruvbox-dark-medium.css";
/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
@tailwind components;

/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@tailwind utilities;

:root {
  --logo-orange: #eb4a2e;
  --logo-black: #1d3131;
  --logo-beige: #fcf8ed;
}

html {
  @apply bg-logo-beige text-logo-black;
  /* fix layout shift on scrollbar, src: https://stackoverflow.com/a/39289453/7138644 */
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

/* FIXME: temp tailwind to make about page look OK  */
.about p {
  @apply pb-3;
}
.about h2 {
  @apply pb-4;
}
.about .wrapper-of-me {
  @apply pb-4;
}
.about section,
.about footer {
  @apply pt-4;
}

@layer utilities {
  .v-layout-full {
    @apply col-span-full;
  }

  .v-layout-core {
    @apply md:col-start-1 md:col-end-8 col-span-full;
  }

  .v-layout-right {
    @apply md:col-start-9 md:col-end-13 col-span-full;
  }

  .v-underline {
    text-decoration-line: underline;
    text-underline-position: under;
    text-underline-offset: 1px;
  }
}

@layer base {
  .nav li {
    @apply pr-4 md:pr-0 md:ml-8;
  }

  a {
    @apply v-underline;
  }

  .v-underline.active,
  .v-underline:active {
    text-decoration-thickness: 0.15rem;
    text-decoration-color: var(--logo-orange);
  }

  .v-underline:hover:not(.active) {
    @apply cursor-pointer;
    text-decoration-thickness: 0.15rem;
    text-decoration-color: var(--logo-black);
  }

  a.text-logo-orange {
    text-decoration-color: var(--logo-black);
  }

  .blog-list-date {
    @apply inline-block font-mono text-xs text-right;
    min-width: 15ch;
  }

  /**
   * MDX
   */

  /* ! Important, do not div tag @apply, div is used to break out of it from within mdx */

  .v-layout .nextjs-image-wrapper {
    @apply v-layout-full;
    /* grid-column: span 12 !important; */
  }

  /* Code blocks are wrapped in pre, inline code wrapped in whatever parent *
  /* .v-layout code, */
  .v-layout > pre,
  .v-layout > hr {
    @apply v-layout-full;
  }

  .v-layout > h1,
  .v-layout > h2,
  .v-layout > h3,
  .v-layout > h4,
  .v-layout > h5,
  .v-layout > h6,
  .v-layout > p,
  .v-layout > ul,
  .v-layout > ol,
  /* .v-layout li, */
  .v-layout > blockquote,
  .v-layout > em,
  .v-layout > strong {
    @apply v-layout-core;
  }

  /* GitHub flavored markdown (GFM) */
  .v-layout > del,
  .v-layout > table,
  .v-layout > tbody,
  .v-layout > td,
  .v-layout > th,
  .v-layout > thead,
  .v-layout > tr {
    @apply v-layout-core;
  }

  /* TODO: Displaye footnotes as sidenotes on desktop */
}

/**
 * Customize @tailwindcss/typography
 */

* {
  /* border: 1px groove; */
}

/* Heads up, margins don't collapse because I'm using grid.
  Elements are treated as horizontal siblings
  from the spec: "the margins of adjacent grid items do not collapse."

  Fine. I'll colapse them myself v.v
 */

.prose * + h1,
.prose * + h2,
.prose * + h3,
.prose * + h4 {
  @apply mt-2;
}

.prose li + li {
  @apply mt-1;
}

.prose p > img {
  display: initial;
  vertical-align: initial;
}

.prose .anchor {
  float: left;
  line-height: 1;
  text-decoration: none;
  @apply -ml-5;
}

svg.jamicon {
  display: inline-block;
}

.autolink svg {
  visibility: hidden;
}

h1:hover .autolink svg,
h2:hover .autolink svg,
h3:hover .autolink svg,
h4:hover .autolink svg,
h5:hover .autolink svg,
h6:hover .autolink svg,
h1 .autolink:focus svg,
h2 .autolink:focus svg,
h3 .autolink:focus svg,
h4 .autolink:focus svg,
h5 .autolink:focus svg,
h6 .autolink:focus svg {
  visibility: visible;
}

.prose table {
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.prose thead,
.prose tbody tr {
  @apply border-gray-350;
}

.prose thead th,
.prose tbody td {
  @apply p-2 align-middle border border-gray-350;
}

.prose blockquote {
  @apply mb-4 border-gray-350 text-gray-500 italic border-l-4 px-4;
}
.prose blockquote p {
  margin-bottom: 0;
}

.prose hr {
  @apply border-gray-350 border-t-2 mt-2 mb-4;
}

/**
 * Customize highlight.js
 */

.hljs {
  @apply mb-4 overflow-x-auto;
  font-size: 14px;
}

.inline-code,
:not(pre) > code {
  @apply rounded;
  color: #d5c4a1;
  background: #282828;
  padding: 0.15em 0.2em 0.05em 0.15rem;
  white-space: normal;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  /* dark-medium */
  color: #282828;
  background: #d5c4a1;

  /* Prism gruvbox theme references */
  /* light gruvbox https://github.com/PrismJS/prism-themes/blob/master/themes/prism-gruvbox-light.css */
  /* color: #282828;
  background: #a89984; */
  /* dark gruvbox https://github.com/PrismJS/prism-themes/blob/master/themes/prism-gruvbox-dark.css */
  /* color: #fbf1c7;
  background: #7c6f64; */
}
