@import "highlight.js/styles/base16/gruvbox-dark-medium.css";
/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
@tailwind components;

/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@tailwind utilities;

:root {
  --logo-orange: #eb4a2e;
  --logo-black: #1d3131;
  --logo-beige: #fcf8ed;
}

html {
  @apply bg-logo-beige text-logo-black;
  /* fix layout shift on scrollbar, src: https://stackoverflow.com/a/39289453/7138644 */
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

@layer utilities {
  .v-layout-full {
    @apply col-span-full;
  }

  .v-layout-core {
    @apply md:col-start-1 md:col-end-8 col-span-full;
  }

  .v-layout-right {
    @apply md:col-start-9 md:col-end-13 col-span-full;
  }

  .v-underline {
    text-decoration-line: underline;
    text-underline-position: under;
    text-underline-offset: 1px;
  }
}

@layer base {
  a {
    @apply pr-4 md:pr-0 v-underline;
  }

  .v-underline.active,
  .v-underline:active {
    text-decoration-thickness: 0.15rem;
    text-decoration-color: var(--logo-orange);
  }

  .v-underline:hover:not(.active) {
    text-decoration-thickness: 0.15rem;
    text-decoration-color: var(--logo-black);
  }

  a.text-logo-orange {
    text-decoration-color: var(--logo-black);
  }

  .blog-list-date {
    @apply inline-block font-mono text-xs text-right;
    min-width: 15ch;
  }

  .autolink.before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-100%) translateY(-50%);
    padding-right: 4px;
  }

  .autolink svg {
    visibility: hidden;
  }

  h1:hover .autolink svg,
  h2:hover .autolink svg,
  h3:hover .autolink svg,
  h4:hover .autolink svg,
  h5:hover .autolink svg,
  h6:hover .autolink svg,
  h1 .autolink:focus svg,
  h2 .autolink:focus svg,
  h3 .autolink:focus svg,
  h4 .autolink:focus svg,
  h5 .autolink:focus svg,
  h6 .autolink:focus svg {
    visibility: visible;
  }
}

/**
 * highlight.js customization
 */

.inline-code,
:not(pre) > code {
  @apply rounded;
  color: #d5c4a1;
  background: #282828;
  padding: 0.15em 0.2em 0.05em 0.15rem;
  white-space: normal;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  /* dark-medium */
  color: #282828;
  background: #d5c4a1;

  /* Prism gruvbox theme references */
  /* light gruvbox https://github.com/PrismJS/prism-themes/blob/master/themes/prism-gruvbox-light.css */
  /* color: #282828;
  background: #a89984; */
  /* dark gruvbox https://github.com/PrismJS/prism-themes/blob/master/themes/prism-gruvbox-dark.css */
  /* color: #fbf1c7;
  background: #7c6f64; */
}

/**
 * MDX
 */

/* Important,do not div tag @apply, div is used to customize from mdx */

.mdx-prose .nextjs-image-wrapper {
  @apply v-layout-full;
  /* grid-column: span 12 !important; */
}

/* Code blocks are wrapped in pre, inline code wrapped in whatever parent */
/* .mdx-prose code, */
.mdx-prose > pre,
.mdx-prose > hr {
  @apply v-layout-full;
}

.mdx-prose > h1,
.mdx-prose > h2,
.mdx-prose > h3,
.mdx-prose > p,
.mdx-prose > ul,
.mdx-prose > ol,
/* .mdx-prose li, */
.mdx-prose > blockquote,
.mdx-prose > em,
.mdx-prose > strong {
  @apply v-layout-core;
}

/* GitHub flavored markdown (GFM) */
.mdx-prose > del,
.mdx-prose > table,
.mdx-prose > tbody,
.mdx-prose > td,
.mdx-prose > th,
.mdx-prose > thead,
.mdx-prose > tr {
  @apply v-layout-core;
}

/* TODO: Displaye footnotes as sidenotes on desktop */
